<div class="header bg-gradient-danger py-7 py-lg-8">
  <div class="container">
    <div class="header-body text-center mb-7">
      <div class="row justify-content-center">
        <div class="col-lg-5 col-md-6">
          <h1 class="text-white">¡Bienvenido!</h1>
          <p class="text-lead text-light">Inicia sesión con tu cuenta de Google para acceder a tu perfil.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="separator separator-bottom separator-skew zindex-100">
    <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
      <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
    </svg>
  </div>
</div>
<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-header bg-transparent pb-5">
          <div class="text-muted text-center mt-2 mb-3"><small>Iniciar sesión con</small></div>
          <div class="btn-wrapper text-center">
            <!-- El componente del botón de Google se renderiza aquí -->
            <app-login-button></app-login-button>
          </div>
        </div>
        <!-- Se elimina el resto del card-body que contenía el formulario de credenciales -->
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <a href="javascript:void(0)" class="text-light"><small>¿Olvidaste tu contraseña?</small></a>
        </div>
        <div class="col-6 text-right">
          <a [routerLink]="['/register']" class="text-light"><small>Crear nueva cuenta</small></a>
        </div>
      </div>
    </div>
  </div>
</div>
